.counters {
  justify-content: space-around;
  max-width: 800px;
  justify-items: center;
  margin-inline: auto;
  display: grid;
  font-weight: 300;

  &__header {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}

section + section {
  padding-top: 1.5rem;
}

section:first-of-type {
  padding-top: 3rem;
}

section:last-of-type {
  padding-bottom: 3rem;
}
