.swing-in-bottom-fwd-enter-active {
  animation:
    swing-in-bottom-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    300ms both;
}

.swing-in-bottom-fwd-enter-leave {
  animation:
    swing-in-bottom-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    300ms both reverse;
}

@keyframes swing-in-bottom-fwd {
  0% {
    opacity: 0;
    transform: rotateX(100deg);
    transform-origin: bottom;
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
    transform-origin: bottom;
  }
}
