/* Navbar */
.navbar-container {
  padding-bottom: 1rem;
}

.site-header-logo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2rem !important;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  overflow-y: hidden;
  border-top: 1px solid #e5e5e5;
}

.nav-scroller .nav {
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller a {
  padding: 0.75rem;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: #584e4a !important;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
}

.router-link-active,
.router-link-exact-active {
  cursor: default !important;
}

.nav-scroller a.router-link-active:before,
.nav-scroller a.router-link-active:after,
.nav-scroller a.router-link-exact-active:before,
.nav-scroller a.router-link-exact-active:after,
.nav-scroller a:before,
.nav-scroller a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #f37272;
}

.nav-scroller a.router-link-active:before,
.nav-scroller a.router-link-active:after,
.nav-scroller a.router-link-exact-active:before,
.nav-scroller a.router-link-exact-active:after,
.nav-scroller a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  transition: opacity 0s,
    -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s,
    -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-scroller a.router-link-active:before,
.nav-scroller a.router-link-active:after,
.nav-scroller a.router-link-exact-active:before,
.nav-scroller a.router-link-exact-active:after,
.nav-scroller a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  transition: opacity 0.2s,
    -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-scroller a.router-link-active:before,
.nav-scroller a.router-link-active:after,
.nav-scroller a.router-link-exact-active:before,
.nav-scroller a.router-link-exact-active:after,
.nav-scroller a:hover:before,
.nav-scroller a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.nav-scroller a.router-link-active:before,
.nav-scroller a.router-link-active:after,
.nav-scroller a.router-link-exact-active:before,
.nav-scroller a.router-link-exact-active:after,
.nav-scroller a:hover:before {
  transition: opacity 0.2s,
    -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-scroller a.router-link-active:before,
.nav-scroller a.router-link-active:after,
.nav-scroller a.router-link-exact-active:before,
.nav-scroller a.router-link-exact-active:after,
.nav-scroller a:hover:after {
  transition: opacity 0s 0.2s,
    -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s,
    -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
