.counters {
  container-type: inline-size;
  container-name: counters;
  font-weight: 200;
  color: var(--text2);
  text-transform: uppercase;
  letter-spacing: 0.15rem;

  & .header {
    display: block;
    font-weight: 500;
  }

  & .items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & .counter {
    font-size: clamp(1.5rem, 5cqi, 2rem);

    & .value {
      text-transform: none;
    }

    & .legend {
      font-size: 0.5em;
    }
  }

  .group ~ .group,
  .group ~ .header {
    padding-top: 2ch;
  }
}

@container counters (width > 55ch) {
  .counters {
    & .header {
      text-align: center;
    }

    & .items {
      flex-direction: row;
      gap: 3ch;
      justify-content: center;
    }
  }
}
