@import "./base.css";
@import "./reset.css";
@import "./nprogress.css";
@import "./transitions.css";

a,
.green {
  color: hsl(160deg 100% 37% / 100%);
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(160deg 100% 37% / 20%);
  }
}

@media (width >= 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: 0.75rem;
  background-color: var(--color-background-soft);

  & label {
    padding-top: 1rem;
    font-size: 0.85rem;
  }

  & input {
    box-sizing: border-box;
    width: 100%;
    color: inherit;
    background-color: inherit;
    border-color: var(--text);
    border-width: 0 0 1px;
    transition: border-color 0.2s ease;
  }

  & input:focus {
    border-color: var(--color-text-counter);
    outline: none;
  }
}

