@import url("./base.css");
@import url("./reset.css");
@import url("./counters.css");
@import url("./nprogress.css");
@import url("./transitions.css");

html {
  color: var(--text1);
  background-color: var(--surface2);
}

body {
  max-width: clamp(1rem, 90%, 1024px);
  margin-inline: auto;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  line-height: 1.5;
  transition:
    color 0.5s,
    background-color 0.5s;
}

a {
  color: var(--brand);
  text-decoration: none;
  transition: 0.2s ease-in-out;

  &:hover {
    color: var(--surface2);
    background-color: var(--brand);
  }
}

button {
  width: max-content;
  padding: 10px 18px;
  color: var(--text2);
  cursor: pointer;
  background-color: var(--surface4);
  border: none;
  transition: 0.1s ease-in-out;

  &:hover {
    color: var(--surface3);
    background-color: var(--brand);
  }

  &.button-small {
    padding: 4px 8px;
  }
}

form {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  background-color: var(--surface3);

  & label {
    font-size: 0.85rem;
  }

  & input:not([type="checkbox"], [type="radio"]),
  & textarea {
    width: 100%;
    padding: 0 1ch;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.125rem;

    &:focus {
      border-color: var(--brand);
      outline: none;
    }
  }

  label + label {
    padding-top: 1rem;
  }
}

ul {
  position: relative;
  padding: 0;
  text-decoration: none;
  list-style-type: none;

  & li:first-of-type {
    margin-top: 0;
  }

  & li:last-of-type {
    margin-bottom: 0;
  }
}

h1 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section ~ section {
  padding-top: 2rem;
}

.loading {
  font-size: 1.5rem;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
